# Python datatypes

### data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes, and variables are instances (objects) of these classes.

### single value
            1. number -> int, float
            2. text -> string
            3. sequence -> list, tuple, range
            4. mapping -> dictionary
            5. unique values -> set, frozenset
            6. Boolean -> bool
            7. None Type -> None
            
            
### database classes in python
             1. int(), str(), list(), tuple(), dict(), set(), range(), frozenset(), bool()
             
             
             
## DATA  Storage
            1. program memory
            2. files
            3. database

In [1]:
# Number: collection of digits (0-9) without quotes.
## immutable datatype, not iterable, not indexable, not subscriptable
## int()
age = 20
type(age)

int

In [2]:
age = age + 1
age

21

In [3]:
temp = 20.5
type(temp)

float

In [4]:
id(age)

140726650874272

In [5]:
marks = 21
id(marks)

140726650874272

In [7]:
# not iterable
# for i in 12345:
#     print(i)

In [ ]:
contact = 89645312652
contact[0:5]

In [ ]:
import math
dir(math)

In [ ]:
math.sqrt(8)

In [ ]:
math.sqrt(9)

In [ ]:
math.ceil(4.1)

In [ ]:
math.floor(4.9)

In [ ]:
math.__name__

In [ ]:
math.__doc__

In [ ]:
### format string/ placeholders (%d, %s): provide dynamic value/data on runtime.

In [12]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [8]:
age = 24
print(f"After 10 years you will be {age + 10} years old")

After 10 years you will be 34 years old

### String
    ### collection of characters (numbers, alphabets, special charcters) enclosed in qoutes.
    'Hello'
    "Hello"
    '''Hello'''
    """Hello"""
    
    str()
    immutable datatype
    iterable
    subscriptable
    indexable
    slicing operator use with string
        slicing syntax: [start index : end index : steps]
        default value of slicing: [0 : len(object] : 1]
    
            1. + -> concatenation
            2. * -> repetition

In [17]:
bio = """I am learning python.
I am living in bhopal"""
city = "bhopal"
name = "john"
id(city)

1856604580016

In [16]:
id(name)

1856604579568

In [18]:
place = "bhopal"
id(place)

1856604580016

In [20]:
city = "indore"
id(city)

1856604600304

In [24]:
city[1:4]

'ndo'

In [25]:
city

'indore'

In [26]:
city[:]

'indore'

In [27]:
city[0: len(city): 1]

'indore'

In [32]:
code = "1234-abcd-5678-efgh"
code[:10:3]

'14b-'

In [35]:
new_code = code[::-1]

In [37]:
code, new_code

('1234-abcd-5678-efgh', 'hgfe-8765-dcba-4321')

In [38]:
code

'1234-abcd-5678-efgh'

In [39]:
code[0:len(code):1]

'1234-abcd-5678-efgh'

In [43]:
code[6:11:3] #14b-7eh

'b-'

In [47]:
f_name = input("enter first name: ").lower().strip()
l_name = input("enter last name: ").lower().strip()
full_name = f"WELCOME {f_name} {l_name} in BHOPAL"
full_name

enter first name:               JOhN
enter last name: CENA

'WELCOME john cena in BHOPAL'

In [48]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
full_name

'WELCOME john cena in BHOPAL'

In [50]:
full_name.upper()

'WELCOME JOHN CENA IN BHOPAL'

In [51]:
full_name

'WELCOME john cena in BHOPAL'

In [52]:
full_name.count('a')

1

In [54]:
full_name.count('O')

2

In [55]:
full_name.index('O')

4

In [56]:
enroll = "0103CS221012"

In [57]:
enroll.isalnum()

True

In [60]:
contact = input("enter your contact : ")

enter your contact : 78654321521

In [61]:
contact.isdigit()

True

In [64]:
enroll.startswith('0157')

False

In [65]:
city = "bhopal"
id(city)

1856604580016

In [66]:
city = "indore"
id(city)

1856604600304

In [67]:
city[0] = "M"

TypeError: 'str' object does not support item assignment

In [68]:
dob = input("Enter your DOB: ")

Enter your DOB: 14/08/2000

In [69]:
dob

'14/08/2000'

In [77]:
d,m,y = dob.split('/') # return type list
d,m

ValueError: not enough values to unpack (expected 3, got 1)

In [74]:
d = dob1[0]
m = dob1[1]
y = dob1[2]
d,m,y

('14', '08', '2000')

In [81]:
python = ''' Python was invented in the late 1980s[41] by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC programming language, which was inspired by SETL,[42] capable of exception handling and interfacing with the Amoeba operating system.[12] Its implementation began in December 1989.[43] Van Rossum shouldered sole responsibility for the project, as the lead developer, until 12 July 2018, when he announced his "permanent vacation" from his responsibilities as Python's "benevolent dictator for life" (BDFL), a title the Python community bestowed upon him to reflect his long-term commitment as the project's chief decision-maker[44] (he's since come out of retirement and is self-titled "BDFL-emeritus"). In January 2019, active Python core developers elected a five-member Steering Council to lead the project'''
py_data = python.split('.')
py_data[-1]

' In January 2019, active Python core developers elected a five-member Steering Council to lead the project'